# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/

# Security & Keys
# Do NOT push your private keys to GitHub
*.pem
*.key
.env